.ui.container > h1 {
  font-size: 3em;
  text-align: center;
  font-weight: normal;
}

.masthead.vertical.segment {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.masthead .header {
  font-size: 1.5em;
  font-weight: normal;
}

.content {
  margin-top: 1em;
}

.slider {
  margin-top: 1em;
}

.segment.forecast {
  margin-top: 1em;
}

input#forecast-slider {
  width: 710px;
  position: relative;
  top: -20px;
  left: -3px;
}
